@charset "utf-8";

.banner img{
	width: 100%;
	height: auto;
	display: block;
}
.mui-segmented-control{
	border: none;
	border-radius: inherit;
	background: #fff;
}

.mui-segmented-control .mui-control-item{
	border-left: none;
	color: #979797;
	line-height: 26px;
	padding: 10px 0;
}
.mui-segmented-control .mui-control-item font{
	display: block;
}
.mui-segmented-control .mui-control-item.mui-active{
	background-color: #2f95f4;
}

.contentlist .mui-table-view{
	background: none;
	padding-top: 10px;
}
.contentlist .mui-table-view .mui-table-view-cell{
	background: #fff;
	margin-bottom: 10px;
}

.mui-table-view-cell:after{
	left: 0;
}

.contentlist .mui-table-view .mui-table-view-cell .mui-media-body font{
	display: block;
	width: 100%;
}
.contentlist .mui-table-view .mui-table-view-cell .mui-media-body p{
	font-size: 12px;
	padding: 4px 0;
}
.mui-table-view .mui-media-object{
	max-width: none;
}


.page-title{
	text-align: center;	
}
.page-title h3{
	text-align: center;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
}
.page-title p{
	font-size: 12px;
	padding-bottom: 15px;
	border-bottom: #eeeeee solid 1px;
	margin-bottom: 15px;
}

.page-content p{
	font-size: 14px;
	line-height: 22px;
	text-align: justify;
	padding-bottom: 15px;
}
.mui-btn-block.mui-btn-red{
	padding: 10px 0;
	background-color:#ff5f5f
}
.notice p{
	text-indent: 2em;
}
.notice .title{
	color: #444;
	text-indent: inherit;
}
.mui-input-group{
	padding-top: 20px;
}
.mui-input-group:before,.mui-input-group:after,.mui-input-group .mui-input-row:after{
	background-color: #fff;
}
.mui-input-group .mui-input-row{
	background-color: #f5f3f3;
	margin:0 30px 15px 30px;
	border-radius: 8px;
}
.mui-input-row label{
	width: 20%;
	padding: 8px 15px;
}

.mui-input-row label~input{
	width: 80%;
}
.submit{
	margin: 0 30px;
}
.mui-input-group .mui-btn-blue{
	background-color: #4fce85;
	border-color: #4fce85;
	padding: 10px 0;
}





























